@{
	ViewBag.Title = @Html.Trans("AUTH.FORGOT_PASSWORD_CONFIRMATION");
}
<div class="row">
    <div class="col-sm-12 col-md-offset-2 col-md-10">
        <h3>@ViewBag.Title</h3>
        <p>
            @Html.Trans("AUTH.FORGOT_PASSWORD_CONFIRMATION_TEXT")
        </p>
    </div>
</div>

