@{
	ViewBag.Title = @Html.Trans("AUTH.RESET_PASSWORD_CONFIRMATION");
}
<div class="row">
    <div class="col-sm-12 col-md-offset-2 col-md-10">
        <h3>@ViewBag.Title</h3>
        <p>
            @Html.Trans("AUTH.RESET_PASSWORD_TEXT") @Html.ActionLink(Html.Trans("AUTH.RESET_PASSWORD_LINK"), "Login", "Account", Html.RouteCulture())
        </p>
    </div>
</div>

