<div ng-message="required">{{'ERROR.REQUIRED'|translate}}</div>
<div ng-message="minlength">{{'ERROR.MIN_LENGTH'|translate}}</div>
<div ng-message="maxlength">{{'ERROR.MAX_LENGTH'|translate}}</div>
<div ng-message="min">{{'ERROR.MIN'|translate}}</div>
<div ng-message="max">{{'ERROR.MAX'|translate}}</div>
<div ng-message="number">{{'ERROR.NUMBER'|translate}}</div>
<div ng-message="wholeNumber">{{'ERROR.WHOLENUMBER'|translate}}</div>
<!--<div ng-message="range">{{'ERROR.RANGE'|translate}}</div>-->
<div ng-message="date">{{'ERROR.DATE'|translate}}</div>
<div ng-message="time">{{'ERROR.TIME'|translate}}</div>
<div ng-message="currency">{{'ERROR.CURRENCY'|translate}}</div>
<div ng-message="percentage">{{'ERROR.PERCENTAGE'|translate}}</div>
<!--<div ng-message="serverError">{{'ERROR.SERVER_ERROR'|translate}}</div>-->




