@{
}

<h2>Handelsbetingelser</h2>
<p>
    Handelsbetingelser og brugerrettigheder.
</p>
<strong>
    Produkter og tjenester udbydes af:
</strong>
<p>
    ITfoxtec
    <br />
    Kvædevej 11
    <br />
    DK-8270 Højbjerg
    <br />
    CVR nr.:  30 59 65 01
    <br />
    Tlf.: +45 50 59 58 08
</p>
<p>
    <strong>Kontakt os på:</strong> <a href="mailto:support@sortingtime.com">support@sortingtime.com</a>
</p>
<p>
    Alle priser er opgivet i danske kroner (DKK). Der opkræves ikke betalings gebyr.
</p>
<p>
    <strong>Levering:</strong> Digitale produkter leveres kort efter købet via e-mail, hvor du får adgang til <a href="https://sortingtime.dk">Sortingtime.dk</a> / <a href="https://sortingtime.com">Sortingtime.com</a> sitet via dit login.
</p>
<p>
    Kvittering samt adgang til sitet tilsendes automatisk til den e-mailadresse du har oplyst ved købet.
</p>
<p>
    <strong>Online produkter:</strong> Er dit til evigt brug, med mindre andet er foreskrevet. Sortingtime sitet har dog ingen forpligtelser til at udgive materialet til evig tid, for at du kan bruge indtastede data til evig tid, kræver det at online data downloades til egen enhed. Ved køb af online produkter frasiges retten automatisk til 14 dages fortrydelsesret, da adgang til sitet leveres øjeblikkelig.
</p>
<p>
    <strong>Rettigheder:</strong> Alle rettigheder til sitets tjenester trykt som digitalt materiale, tilhører Sortingtime. Ved køb opnås brugsret til det købte materiale/produkt. Det købte materiale/produkt er personligt og må ikke bruges til andre formål end hvortil det er købt. Specifikt må materialet/produktet ikke anvendes i direkte eller indirekte konkurrence virksomhed med Sortingtime. Brugsretten til det købte materiale/produkt er altid personlig og kan ikke overdrages.
</p>
<p>
    <strong>Returret:</strong> Du fraskriver dig retten til 14 dages fortrydelsesret, ved køb af digitale produkter.
</p>
<p>
    <strong>Enkelte produkter er på abonnement, ved køb af abonnement er du altid oplyst om dette forud.</strong>
</p>
<p>
    <strong>Abonnements vilkår:</strong> Følgende er gældende; Abonnementsprisen er som oplyst på produktsiden, der bliver automatisk trukket for hver abonnements periode på det oplyste betalingskort. Kvittering for betalingen tilsendes automatisk pr. e-mail. Du modtager en e-mail med bekræftelse på din abonnementstilmelding efter indgåelse af abonnementet.
</p>
<p>
    <strong>Opsigelse af abonnement:</strong> Opsigelsen er øjeblikkelig, og efter opsigelsen vil der ikke blive faktureret eller trukket yderligere. Dog skal allerede udsendte fakturaer stadig betales. Du kan når som helst opsige dit abonnement ved at logge ind på din konto og selv stoppe abonnementet. Eller du kan sende en e-mail til <a href="mailto:support@sortingtime.com">support@sortingtime.com</a> med din opsigelse.
</p>
<p>
    Såfremt Sortingtime sitets materiale/produkter eller navn anvendes i strid med ovenstående, tilfaldes erstatningsansvar efter dansk rets almindeliges regler, ligesom eventuel uberettiget anvendelse søges imødegået ved nedlæggelse af fogedforbud.
</p>
<p>
    <strong>Evt. uoverensstemmelse mellem køber og Sortingtime:</strong>  Ved evt. uoverensstemmelser mellem Sortingtime og køberen så skal dette afgøres efter dansk ret ved Retten i Aarhus.
</p>
<p>
    <strong>Ændring af kreditkort ved abonnements betaling:</strong> Ønsker du at ændre/forny dit kreditkortnummer til abonnementet, gøres dette ved at logge ind på sin brugerkonto på Sortingtime sitet.
</p>
<p>
    Alle rettigheder til kurser, workshops, events samt digitale produkter tilhører Sortingtime sitet. Ved køb opnås udelukkende licens til at benytte det købte produkt, som angivet under det pågældende produkt. Det er IKKE tilladt at dele produktet med andre.
</p>
<p>
    Vi modtager følgende kreditkort:</strong>
    <br />
    - Kommer senere
</p>