@{
}

<h2>Privatlivspolitik og Persondataforordningen af 25.05.2018</h2>
<p>
    Håndtering og sikkerhed omkring dine personlige data er beskyttet i den nye Persondataforordning fra EU, der træder i kraft den 25.05.2018. Det betyder, at dine private oplysninger og rettigheder som forbruger er endnu bedre sikret.
</p>

<strong>
    Oversigt:
</strong>
<p>
    1.	Ejer
    <br />
    2.	Cookies
    <br />
    3.	Vi beskytter dine personlige oplysninger
    <br />
    4.	Handelsbetingelser
</p>

<strong>
    1. Ejer:
</strong>
<p>
    ITfoxtec
    <br />
    Kvædevej 11
    <br />
    DK-8270 Højbjerg
    <br />
    CVR nr.:  30 59 65 01
    <br />
    Tlf.: +45 50 59 58 08
</p>

<strong>
    2. Cookies
</strong>
<p>
    En cookie er en lille tekstfil. Den lagres på din computer, tablet eller mobiltelefon for at kunne genkende denne, huske indstillinger, udføre statistik og målrette annoncer. Der er ingen personlige oplysninger gemt i vores cookies, og de indeholder ikke virus.
</p>
<p>
    En cookie er en betegnelse for en brugers adfærd på et netværk, der registreres ved brugeren selv på den enhed, der anvendes. På denne måde ved serveren, hvem brugeren er ved et evt. næste besøg samme sted.
</p>
<p>
    Sortingtime sitet anvender cookies med det formål at optimere websitet og dets funktionalitet. For dermed at gøre dit besøg på sitet så nemt som muligt.
</p>
<p>
    Når du besøger Sortingtime sitet indsamles der oplysninger om dig, som bruges til at tilpasse og forbedre vores indhold og til at øge værdien af de annoncer, der vises på siden. Hvis du ikke ønsker, at der indsamles oplysninger, bør du slette dine cookies (se vejledning) og undlade videre brug af websitet. Nedenfor har vi uddybet, hvilke informationer der indsamles, deres formål og hvilke tredjeparter, der har adgang til dem.
</p>
<p>
    Du har altid mulighed for at slette cookies fra din computer.
</p>

<strong>
    2.01 Hvordan sletter eller blokerer du for cookies?
</strong>
<p>
    <a href="http://minecookies.org/cookiehandtering">Sletter eller blokerer cookies</a>.
</p>
<p>
    Hvis du sletter eller blokerer cookies vil annoncer kunne blive mindre relevante for dig og optræde hyppigere. Du kan desuden risikere at websitet ikke fungerer optimalt samt at der er indhold, du ikke kan få adgang til. Sortingtime sitet anbefaler at du ikke sletter eller blokerer for cookies for at opnå optimalt brug af sitet.
</p>

<strong>
    2.02 Formål med cookies på Sortingtime websitet
</strong>
<p>
    Cookies anvendes til at føre statistik over antallet af brugere.
</p>

<strong>
    2.03 Google Analytics & Microsoft Azure Application Insights
</strong>
<p>
    Sortingtime sitet bruger cookies fra Google Analytics til at måle trafikken på websitet.
</p>
<p>
    Du kan fravælge cookies fra Google Analytics <a href="http://tools.google.com/dlpage/gaoptout">her</a>.
</p>

<strong>
    2.04 Application Insights
</strong>
<p>
    Microsoft debug and audit log. Mere <a href="https://docs.microsoft.com/en-us/azure/application-insights/app-insights-data-retention-privacy">information</a> og <a href="https://docs.microsoft.com/en-us/azure/application-insights/app-insights-troubleshoot-faq">FAQ</a>.
</p>

<strong>
    3. Vi beskytter dine personlige oplysninger
</strong>
<p>
    Databeskyttelse har høj prioritet, og det er vigtigt for os, at der er åbenhed omkring, hvordan vi behandler dine personlige oplysninger. Vi har derfor beskrevet, hvordan vi behandler dine data.
</p>

<strong>
    3.01 Nyhedsmails
</strong>
<p>
    Vi har kun din e-mailadresse registreret.
</p>

<strong>
    3.02 Køb af onlineprodukter
</strong>
<p>
    Vi har kun dit navn, din e-mailadresse og betalingsform registreret.
</p>

<strong>
    3.03 Køb af varer via manuel fakturering fra Sortingtime sitets bogholderi
</strong>
<p>
    Vi har dit fulde navn, e-mailadresse og adresse registreret, såfremt vi skal kunne fremsende en fysisk faktura.
</p>
<p>
    Alle data der er et led i en handel gemmes i 5 år i henhold til bogføringsregler.
</p>

<strong>
    3.04 Vi opbevarer dine oplysninger
</strong>
<p>
    Vi opbevarer så få oplysninger om dig som muligt i henhold til ovennævnte beskrivelse.
</p>
<p>
    Vi har ikke adgang til dine kreditkortoplysninger. Ved køb af abonnementsprodukter kan du selv logge ind på Sortingtime sitet under din personlige profil og ændre dine kreditkortoplysninger.
</p>

<strong>
    3.05 Vi er ansvarlig for dine personlige oplysninger
</strong>
<p>
    Sortingtime sitet har ansvaret for de personlige oplysninger, du giver os, og vi er ansvarlig for, at dine personlige oplysninger opbevares efter gældende lov om databeskyttelse.
</p>
<p>
    Ansvar:
</p>
<p>
    <strong>Sortingtime</strong>
</p>
<p>
    ITfoxtec
    <br />
    Kvædevej 11
    <br />
    DK-8270 Højbjerg
    <br />
</p>

<strong>
    3.06 Dataoplysninger til Microsoft Azure
</strong>
<p>
    Microsoft Azure benyttes som hosting-leverandør hos Sortingtime sitet. Microsoft Azure er GDPR complient og dine oplysninger er derfor sikret igennem Microsofts services.
    For mere information om Microsoft Azure <a href="https://azure.microsoft.com/en-us/overview/what-is-azure">læs vejningen</a>.
</p>

<strong>
    3.07 Videregivelse af oplysninger til tredjepart
</strong>
<p>
    Vi videregiver eller sælger ikke dine persondata. Dine dataoplysninger er fortrolige hos Sortingtime sitet og vi har ikke annonceaftaler eller øvrige aftaler med 3. part. Ændres dette oplyses du på Sortingtime sitet om dette.
</p>

<strong>
    3.08 Vi indsamler og opbevarer dine persondata til bestemte formål
</strong>
<p>
    Vi indsamler og opbevarer kun dine data (navn og e-mailadresse) i forbindelse med bestemte formål. Det sker eksempelvis, når vi har brug for at udsende målrettede nyheds- og kampagnemails.
</p>

<strong>
    3.09 Dine rettigheder
</strong>
<p>
    Du har altid ret til at få oplyst, hvilke personlige oplysninger vi har registreret om dig. Kontakt Sortingtime sitet eller send en e-mail til <a href="mailto:support@sortingtime.com">support@sortingtime.com</a> Så aftaler vi hvordan vi sikkert overfører dine oplysninger til dig.
</p>

<strong>
    3.10 Retten til at overføre data
</strong>
<p>
    Når vi anvender dine personlige oplysninger elektronisk efter dit samtykke, har du ret til at få sendt en kopi af dine data i et læsbart format. Det gælder kun de personlige oplysninger, du har givet os.
</p>

<strong>
    3.11 Retten til at korrigere data
</strong>
<p>
    Du har ret til at anmode om at få dine personlige oplysninger rettet, hvis de er ukorrekte, herunder ret til at gøre ufuldstændige oplysninger fyldestgørende.
</p>

<strong>
    3.12 Retten til at slette data
</strong>
<p>
    Du har til enhver tid ret til at få slettet de personlige oplysninger, som vi benytter, undtagen i følgende situationer:
    <ul>
        <li>Du har et økonomisk mellemværende med os, uanset betalingsmåde.</li>
        <li>Hvis du har foretaget et køb, beholder vi dine personlige oplysninger i forbindelse med din transaktion af hensyn til bogføringsreglerne. Disse opbevares i 5 år.</li>
    </ul>
</p>

<strong>
    3.13 Din ret til at modsætte dig anvendelse baseret på legitime interesser
</strong>
<p>
    Vi kan i din købshistorik se, hvilke produkter du har købt tidligere og du kan altid modsætte dig, at vi anvender denne oplysning til fremtidig markedsføring af Sortingtime sitet
</p>

<strong>
    3.14 Modsætte sig direkte markedsføring
</strong>
<p>
    Du har ret til at modsætte dig direkte markedsføring.
</p>
<p>
    Du kan framelde dig direkte markedsføring på følgende måder:
</p>
<p>
    Alle vores nyhedsbreve indeholder en frameldingsknap. Her kan du til enhver tid framelde dig og vi kontakter dig ikke igen. Sortingtime sitets nyhedsbreve er ganske få på årligt basis og disse udsendes kun i forbindelse med relevante nyheder og opdateringer. Vi anbefaler at du via Sortingtime sitet holder dig ajourført med diverse opdateringer og nyheder, da dette opdateres løbende via Sortingtime sitet.
</p>

<strong>
    3.15 Dine persondata varetages af de ansatte
</strong>
<p>
    Alle medarbejdere hos Sortingtime er gjort bekendt med forretningsgangen, og alle ansatte skal efterleve den persondataforordning, der er formuleret for virksomheden.
</p>

<strong>
    3.16 Logstatistik
</strong>
<p>
    Sortingtime sitet anvender logstatistik udelukkende til forbedring af Sortingtime sitet og oplysningerne videregives ikke til tredje part.
</p>

<strong>
    3.17 Dine personlige oplysninger
</strong>
<p>
    For at du kan indgå en aftale med os ved køb af et produkt eller et abonnement, skal du oplyse følgende:
</p>
<ul>
    <li>Navn</li>
    <li>E-mailadresse</li>
    <li>Adresse</li>
</ul>
<p>
    Sortingtime sitet anvender kun din adresse, såfremt du skal modtage en faktura, der fysisk skal sendes til dig.
</p>
<p>
    Alle onlineprodukter får du adgang til, når betalingen er verificeret. Alle onlineprodukter kræver kun opbevaring af dit navn og din e-mailadresse.
</p>
<p>
    Sortingtime sitet foretager registrering af dine personoplysninger med det formål at kunne sende dig e-mails om nyheder, som du selv har givet tilsagn om at ville modtage. Vi opbevarer kun dine adresseoplysninger, såfremt du skal have en fysisk faktura tilsendt, eller såfremt vi har faktureret dig for et køb ved manuel fakturering igennem vores bogholderi. Alle personoplysninger på faktureringer skal gemmes i 5 år i henhold til lovgivning.
</p>
<p>
    Du har altid ret til at gøre indsigelse mod registreringen ved Sortingtime. Du har også ret til indsigt i hvilke oplysninger, der er registreret om dig. Disse rettigheder har du i henhold til persondataloven.
</p>
<p>
    Henvendelse kan rettes til <a href="mailto:support@sortingtime.com">support@sortingtime.com</a>
</p>

<strong>
    3.18 Vi sletter dine persondata, når de ikke længere er nødvendige
</strong>
<p>
    Vi sletter dine persondata, når de ikke længere er nødvendige i forhold til det formål, som var grunden til vores indsamling, behandling og opbevaring af dine data.
</p>

<strong>
    4. Handelsbetingelser
</strong>
<p>Handelsbetingelser, rettigheder og afbudspolitik.</p>
<p>
    <strong>
        Produkter og tjenester udbydes af:
    </strong>
</p>
<p>
    <strong>
        Sortingtime
    </strong>
</p>
<p>
    ITfoxtec
    <br />
    Kvædevej 11
    <br />
    DK-8270 Højbjerg
    <br />
    CVR nr.:  30 59 65 01
    <br />
</p>

<p>
    <strong>Kontakt os på:</strong> <a href="mailto:support@sortingtime.com">support@sortingtime.com</a>
</p>
<p>
    Alle priser er opgivet i danske kroner (DKK). Der opkræves ikke betalingsgebyr.
</p>
<p>
    <strong>Levering:</strong> Digitale produkter leveres kort efter købet via e-mail, hvor du får adgang til Sortingtime sitet.
</p>
<p>
    Kvittering og produkt tilsendes automatisk til den mail, du har oplyst ved købet.
</p>
<p>
    <strong>Onlineprodukter:</strong> Er dit til evigt brug, med mindre andet er foreskrevet. Sortingtime sitet har ingen forpligtelser til at udgive materialet til evig tid, så for at du kan bruge det til evig tid, kræver det, at onlineproduktet downloades til egen enhed. Ved køb af onlineprodukter frasiges retten automatisk til 14 dages fortrydelsesret, da produktet leveres øjeblikkeligt.
</p>
<p>
    <strong>Rettigheder:</strong> Alle rettigheder til uddannelse, trykt som digitalt materiale, tilhører Sortingtime sitet Ved køb opnås brugsret til det købte materiale/produkt. Det købte materiale/produkt er personligt og må ikke bruges til andre formål, end hvortil det er købt. Specifikt må materialet/produktet ikke anvendes i direkte eller indirekte konkurrence med Sortingtime eller ITfoxtec. Brugsretten til det købte materiale/produkt er altid personlig og kan ikke overdrages.
</p>
<p>
    <strong>Returret:</strong> Du fraskriver dig retten til 14 dages fortrydelsesret ved køb af digitale produkter.
</p>
<p>
    <strong>Enkelte produkter er på abonnement, ved køb af abonnement er du altid oplyst om dette forud.</strong>
</p>
<p>
    <strong>Abonnementsvilkår:</strong> Følgende er gældende; Abonnementsprisen er som oplyst på produktsiden, der bliver automatisk trukket for hver abonnementsperiode på det oplyste betalingskort. Kvittering for betalingen tilsendes automatisk per e-mail. Du modtager en e-mail med bekræftelse på din abonnementstilmelding efter indgåelse af abonnementet.
</p>
<p>
    <strong>Opsigelse af abonnement:</strong> Opsigelsen er øjeblikkelig, og efter opsigelsen vil der ikke blive faktureret eller trukket yderligere. Dog skal allerede udsendte fakturaer stadig betales. Du kan når som helst opsige dit abonnement ved at skrive til: <a href="mailto:support@sortingtime.com">support@sortingtime.com</a> eller ved at logge ind på din konto og selv stoppe abonnementet.
</p>
<p>
    <strong>Evt. uoverensstemmelse mellem køber og Sortingtime:</strong>  Ved evt. uoverensstemmelser mellem Sortingtime og køberen skal dette afgøres efter dansk ret ved Retten i Aarhus.
</p>
<p>
    Såfremt Sortingtime sitets materiale/produkter eller navn anvendes i strid med ovenstående, tilfaldes erstatningsansvar efter dansk rets almindeliges regler, ligesom eventuel uberettiget anvendelse søges imødegået ved nedlæggelse af fogedforbud.
</p>
<p>
    <strong>Ændring af kreditkort ved abonnementsbetaling:</strong> Ønsker du at ændre/forny dit kreditkortnummer til abonnementet, gøres dette ved at klikke på det link, der fremgår på din digitale faktura.
</p>
<p>
    Alle rettigheder til kurser, workshops, events samt digitale produkter tilhører Sortingtime sitet. Ved køb opnås udelukkende licens til at benytte det købte produkt som angivet under det pågældende produkt. Det er IKKE tilladt at dele produktet med andre.
</p>

<strong>
    Ophavsret
</strong>
<p>
</p>
Al tekst, lyd, kursusmateriale mm. er beskyttet af lov om ophavsret og må ikke gengives uden tilladelse. Der skal altid søges om tilladelse forud for opgaven. Kontakt <a href="mailto:support@sortingtime.com">support@sortingtime.com</a>

<p>
    <ol style="font-weight: bold">
        <li>revision 24.05.2018, Dina Revsgaard</li>
    </ol>
</p>



