@{
}

<h2>Terms</h2>

<p>
    This is a contract between you, the end user, and Sortingtime (Website). By using this Website you accept all the terms and conditions of this Agreement.
    If you do not agree to the terms of this Agreement, do not use this Website.
</p>

<h4>Changes to the Agreement</h4>
<p>
    We reserve the right to modify this Agreement at any time. You should review this Agreement frequently. If we make material changes, we may notify you on our Website, by a blog post, by email, 
    or by any method we determine. The method we chose is at our sole discretion.
</p>

<h4>Terms</h4>
<p>
    Without prejudice to any other rights, Sortingtime may terminate this license agreement if you fail to comply with the terms and conditions of this license agreement. 
    In such event, you must immediately stop using this Website.
    <br />
    Any purchase cannot be annulled, nor is a purchase refundable.
</p>

<h4>Intellectual Property Rights</h4>
<p>
    Sortingtime retains the copyright and any other intellectual property rights to the Website, the written materials and data regardless of the form or media.
</p>

<h4>How We Use Your Information</h4>
<p>
    We may use the Personally Identifiable information you provide to us along with any computer information we receive to customize our Website.
</p>
<p>
    We retain the right to collect and use any Non Personal Information collected from your use of our Website and aggregate such data for internal
    analytics that improve our Website and Service as well as for use or resale to others. At no time is your Personally Identifiable Information included in such data aggregations.
</p>

<h4>Limited Warranty</h4>
<p>
    This Website is provided "as is" without warranty of any kind. The authors and distributors have no obligation to provide maintenance, 
    support, updates, enhancements, or modifications. Further, Sortingtime does not warrant, guarantee, or make any representations regarding the use, or the results of use, of the Website
    or documentation in terms of correctness, accuracy, reliability, correctness, or otherwise. The entire risk as to the results and performance of the Website is assumed by you. 
    If the Website or written materials are defective, you, and not Sortingtime or its dealers, distributors, agents, or employees, assume the entire cost of all necessary servicing, repair or correction.
</p>
<p>
    Sortingtime does not warrant that the functions of the Website will meet your requirements. You assume responsibility for selecting the Website to achieve the intended results, and for the use and 
    results obtained from the Website.
</p>
<p>
    Sortingtime disclaims all other warranties, either express or implied, including but not limited to the implied warranties of merchantability and fitness for a particular purpose, that is made by 
    Sortingtime, on this Website. No oral or written information or advice given by Sortingtime, its dealers, distributors, agents or employees shall create a warranty or in any way increase the scope 
    of this warranty and you may not rely on any such information or advice.
    <br />
    Sortingtime does not take any responsibility for violation of any intellectual property rights.
</p>
<p>
    Neither Sortingtime nor anyone else who has been involved in the creation, production or delivery of this Website shall be liable for any direct, indirect, consequential or incidental damages 
    (including damages for loss of business profits, business interruption, loss of business information, and the like) arising out of the use or inability to use such product even if Sortingtime has
    been advised of the possibility of such damages.
</p>
<p>
    The Website does not, to the best of Sortingtime’s knowledge infringe any third party rights. However, Sortingtime does not take any responsibility for the products violation of any intellectual 
    property rights and Sortingtime has no obligation to neither modify the Website nor achieve accept from such third party.
</p>

<h4>Applicable Law</h4>
<p>
    This Agreement shall be governed by, subject to and interpreted in accordance with Danish law, and you and Sortingtime shall submit to the jurisdiction of the Danish court.
</p>
