@{
    ViewData["Title"] = Html.Trans("LAYOUT.ERROR_TITLE"); 
}

<br>
<h2 class="text-danger">@Html.Trans("LAYOUT.ERROR_TITLE")</h2>
<strong class="text-danger">@Html.Trans("LAYOUT.ERROR_TEXT")</strong>
