@{
    ViewBag.Title = @Html.Trans("SUPPORT.CONFIRMATION");
}
<div class="row">
    <div class="col-sm-12">
        <h3>@ViewBag.Title</h3>
        <p>
            @Html.Trans("SUPPORT.CONFIRMATION_TEXT")
        </p>
    </div>
</div>

